* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    position: relative;
}

.pop-up {
    position: fixed;
    top: 70px;
    right: 30px;
    background-color: #FFFFFF;
    padding: 2em 4em;
    border-radius: 10px;
    display: none;
    animation: slide 1.5s alternate ease-in-out;
}

.active {
    display: unset;
}

@keyframes slide {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0);
    }
}

header {
    width: 80%;
}

.page-head {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Waterfall", cursive;
    font-size: 70px;
    padding-bottom: .15em;
    font-weight: 700;
}

.wallet {
    width: 100%;
    background-color: rgb(228, 158, 53);
    border: 1px solid #FFFFFF;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    border-radius: 15px;
    color: #FFFFFF;
}

.page-head {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-bottom: 3em;
    background-color: rgb(207, 130, 13);
    margin-top: 1em;
    border-radius: 10px;
    padding: 3em;
    color: #FFFFFF;
}

.bonus {
    background-color: rgb(225, 139, 11);
    width: 90%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}


main {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.mid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
    width: 100%;
}

.mid>div {
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.mid .earn {
    gap: 3em;
}

.head {
    font-size: 2rem;
    font-family: "Waterfall", cursive;
    font-weight: 600;
    letter-spacing: 5.5;
}

.collect {
    background-color: rgb(245, 152, 12);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 30px;
    color: #FFFFFF;
    cursor: pointer;
}

label {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    gap: .75em;
}

.name,
.amount {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form input {
    padding: 1em;
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgb(224, 137, 7);
    outline: none;
}

form button {
    padding: 1em;
    background-color: rgb(224, 137, 7);
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
}

form button:hover,
form button:focus {
    background: transparent;
    border: 1px solid rgb(224, 137, 7);
    color: rgb(224, 137, 7);
}

.each {
    background-color: #F0F0F0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.bottom {
    margin-top: 5em;
    background-color: rgb(214, 131, 21);
    border-radius: 10px;
    padding: 2em;
}

.shop {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.shop .top p {
    color: #FFFFFF;
}

.shop .shop-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}

.shop .box {
    border: 1px solid #FFFFFF;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding: 2em 0;
    border-radius: 10px;
}

.shop .box .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 80%;
}

.shop .box img {
    height: 80px;
    width: 80px;
}

.buy {
    background-color: bisque;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
}